
<!DOCTYPE html>
<html lang="en-us" class=" amwoshjantu idc0_343 zbfic eqfglmdo dytmvjpw rsmmzbzq urhyielzlk dmpispyq" ><head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Vvveb</title>

    <meta name="description" content="Powerful and easy to use drag and drop website builder for blogs, presentation or ecommerce stores">
    <meta name="keywords" content="cms, page builder, drag and drop, ecommerce, ecommerce platform, designer, developer, php, bootstrap 5">
    <meta name="author" content="">
    <link rel="canonical" href="">

    <link id="landing-css" href="/css/style.bundle.css" rel="stylesheet" media="screen">
    <link id="vvvebjs-css" href="/css/custom.css" rel="stylesheet" media="screen">

    <style>
        :root {
            /*--bs-font-headings:'Inter';*/
        }

        .hero-3 {
        //height:80vh;		//background-position:bottom center;	}	.showcase-3 {		margin-top:-200px;		z-index:3;	}
    </style>




    <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts">
    <link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments">

    <link rel="icon" type="image/x-icon" href="/media/favicon.ico" data-v-global-site.favicon="">

    <style id="VMst0.40466278408578416">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="VMst0.2284094489992412">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="VMst0.31381758120375136">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="VMst0.9020614394546353">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="VMst0.4069716819212539">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="VMst0.5553862084317911">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style><style id="vvvebjs-styles"></style><style id="VMst0.94002636373401">.toastify{padding:12px 20px;color:#fff;display:inline-block;box-shadow:0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);background:-webkit-linear-gradient(315deg,#73a5ff,#5477f5);background:linear-gradient(135deg,#73a5ff,#5477f5);position:fixed;opacity:0;transition:all .4s cubic-bezier(.215, .61, .355, 1);border-radius:2px;cursor:pointer;text-decoration:none;max-width:calc(50% - 20px);z-index:2147483647}.toastify.on{opacity:1}.toast-close{background:0 0;border:0;color:#fff;cursor:pointer;font-family:inherit;font-size:1em;opacity:.4;padding:0 5px}.toastify-right{right:15px}.toastify-left{left:15px}.toastify-top{top:-150px}.toastify-bottom{bottom:-150px}.toastify-rounded{border-radius:25px}.toastify-avatar{width:1.5em;height:1.5em;margin:-7px 5px;border-radius:2px}.toastify-center{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content;max-width:-moz-fit-content}@media only screen and (max-width:360px){.toastify-left,.toastify-right{margin-left:auto;margin-right:auto;left:0;right:0;max-width:fit-content}}</style></head>


<body class="home" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1215.0" data-gr-ext-installed="" style="" data-new-gr-c-s-loaded="14.1215.0">  <nav class="navigation-3 clearfix fixed-top transparent" title="navigation-3" data-v-save-global="index.html,.navigation-3" style="">



    <div class="navbar navbar-expand-md navbar-dark">



    </div><code><script defer src="https://umami.tiny-dev.de/script.js" data-website-id="9caa3df0-d8b7-4b5d-9df7-174b719455d7"></script>
</code>

</nav>


<header class="hero-3" aria-label="hero-3">

    <div class="container">
        <div>
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-lg-12">
                    <h1 class="heading mb-3 display-4" data-aos="fade-up" data-aos-delay="100"></h1><h1 style='font-size: 40px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; color: rgb(232, 232, 232); font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 36px;'>*.dvlbox.de</h1><p style='margin-right: 0px; margin-bottom: 20px; margin-left: 0px; color: rgb(215, 207, 190); font-family: OpenSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 18px;'>localhost testing done right</p>
                    <div class="col-lg-8 mx-auto"><div style="text-align: left !important; color: white !important;">
                        <h2 class="h3" data-aos="fade-up" data-aos-delay="100"></h2><p>Save this URL, memorize it, write it on a sticky note, tweet it, or tell your colleagues about it!</p><p>*<strong>.dvlbox.de</strong> (<a rel="noopener" target="_new">http://something.dvlbox.de</a>)</p><p>If you do any testing on your local system, you&rsquo;ve probably created hosts file entries (c:\windows\system32\drivers\etc\hosts) for different testing domains and pointed them to 127.0.0.1. This works great but requires a little extra effort.</p><p>This <code>dvlbox.de</code> trick is so obvious, so simple, and yet so powerful. There might be other domains like this out there, but I haven&rsquo;t come across them yet. That&rsquo;s why I&rsquo;ve registered the domain <code>dvlbox.de</code> and made it available for the internet community to use.</p><p>Here&rsquo;s how it works: The entire domain name <code>dvlbox.de</code>&mdash;and all wildcard entries&mdash;point to 127.0.0.1 and ::1. This means you can immediately start testing with a local URL without needing to modify your hosts file.</p><p>Examples:</p><ul><li><a rel="noopener" target="_new">http://newyork.dvlbox.de</a></li><li><a rel="noopener" target="_new">http://mysite.dvlbox.de</a></li><li><a rel="noopener" target="_new">http://redirecttest.dvlbox.de</a></li><li><a rel="noopener" target="_new">http://sub1.sub2.sub3.dvlbox.de</a></li></ul><p>You name it&mdash;any *.dvlbox.de URL you can think of will work for testing on your local system.</p><p><strong>More details</strong><br>Read the introduction by Scott Forsyth (if desired).</p>

                    </div></div>




                </div>
            </div>
        </div>
    </div>

    <div class="separator bottom">



    </div>

    <div class="overlay">
    </div>

    <div class="background-container">

        <img src="/img/hero-3.jpg" alt="Hero background">

    </div>

</header>



























<div class="bg-image"></div>

<div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

        <div class="message">
            Product was added to cart. </div>


        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

        </div>
    </div>
</div>



<script id="popper-js" src="../../js/popper.min.js"  ></script>


<script id="bootstrap-js" src="js/bootstrap.min.js"  ></script>

<script id="app-js" src="../../js/app.js"  ></script>



<link rel="stylesheet" href="js/aos.css">
<noscript>
    <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
    </style>
</noscript>

<script src="js/aos.js"  ></script>
<script src="js/theme.js"  ></script>

<script  >
    AOS.init();
</script>





<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>





</body></html>
